/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
--Image-theme: url("../images/cover-image-dark.png");
--main-color: #000028;
--accent-color: #FF0070;
--section-title-color: #FF0070;
--title-color:#000028;
--text-color: #F1B2CE;
--focus-color: #DB00FF;
}